@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import "../assets/weatherIcons/sass/weather-icons.min.scss";
@import "../assets/weatherIcons/sass/weather-icons-wind.min.scss";

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
input {
  padding: 0 8px;
  background: none;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  outline: none;
  color: #fff;
  transition: border ease 0.2s;
}
input:focus {
  border: solid 1px rgba(255, 255, 255, 0.5);
}
input::placeholder {
  color: #cecece;
}