<script lang="ts">
import { defineComponent } from 'vue'
import { useWidgetStore } from '@/stores/widget'
import Draggable from 'vuedraggable'

import CloseIcon from '@/components/icons/CloseIcon.vue'
import DeleteIcon from '@/components/icons/DeleteIcon.vue'
import DragIcon from '@/components/icons/DragIcon.vue'
import EnterIcon from '@/components/icons/EnterIcon.vue'
import SettingsIcon from '@/components/icons/SettingsIcon.vue'

export default defineComponent({
  setup() {
    const store = useWidgetStore()
    return { store }
  },
  components: {
    Draggable,
    CloseIcon,
    DeleteIcon,
    DragIcon,
    EnterIcon,
    SettingsIcon,
  },
  data() {
    return {
      addNew: '' as string,
      addNewError: false as boolean,
    }
  },
  computed: {
    getPhase():string {
      return this.store.items?.[this.store.itemCurrent]?.phase !== undefined ?
        this.store.items[this.store.itemCurrent].phase : 'day'
    },
  },
  methods: {
    async addItem():Promise<void> {
      if (this.store.items.length < 5) {
        const item = await this.store.getItemByCityName(this.addNew)
        if (item !== undefined) {
          this.store.addItem(item)
          this.addNew = ''
        } else {
          this.addNewError = true
        }
      }
    },
  },
})
</script>

<template>
  <div class="widget__setting">
    <div 
      class="widget__setting__wrapper" 
      :class="[{'widget__setting__wrapper-active': store.settings}, `widget__setting__wrapper-${getPhase}`]"
    >
      <div class="widget__setting__title">Settings</div>
      <div class="widget__setting__divider"></div>

      <Draggable 
        class="widget__setting__items" 
        v-model="store.items" 
        tag="div" 
        item-key="place" 
        handle=".widget__setting__item__move"
        @end="store.updateCitiesStorage"
      >
        <template #item="{element, index}">
          <div class="widget__setting__item"> 
            {{ element.place }}
            <DragIcon class="widget__setting__item__move" />
            <DeleteIcon 
              class="widget__setting__item__delete"
              @click="store.deleteItem(index)"
            />
          </div>
        </template>
      </Draggable>

      <div class="widget__setting__subtitle">Add location</div>
      <div class="widget__setting__add">
        <input 
          class="widget__setting__add__input"
          :class="{'widget__setting__add__input-error': addNewError}"
          v-model="addNew" 
          @input="addNewError = false"
          @keyup.enter="addItem()"
          placeholder="<city>,<country like US>"
          type="text"
          :disabled="store.items.length >= 5"
        >
        <EnterIcon 
          class="widget__setting__add__icon"
          :class="{'widget__setting__add__icon-disabled': store.items.length >= 5}"
          @click="addItem()"
        />
      </div>
    </div>
    <SettingsIcon 
      class="widget__setting__icon"
      :class="{'widget__setting__icon-hide': store.settings}"
      @click="store.settingsToggle(true)"
    />
    <CloseIcon 
      class="widget__setting__icon"
      :class="{'widget__setting__icon-hide': !store.settings || store.items.length === 0}"
      @click="store.settingsToggle(false)"
    />
  </div>
</template>