<script lang="ts">
import { defineComponent } from 'vue'
import { useWidgetStore } from '@/stores/widget'
import { WeatherItem } from "@/models/weatherItem"
import ExpandIcon from '@/components/icons/ExpandIcon.vue'

class Field {
  name!: string
  value!: string
  
  constructor(name:string, value:string) {
    this.name = name
    this.value = value
  }
}

export default defineComponent({
  components: {
    ExpandIcon,
  },
  setup() {
    const store = useWidgetStore()
    return { store }
  },
  props: {
    item: WeatherItem,
  },
  computed: {
    getPhase():string {
      return this.item?.phase !== undefined ? this.item.phase : 'day'
    },
    getWidgetFooterInfo():Field[] {
      return [
        new Field('Temperature', this.getWeatherTemp),
        new Field('Feels Like', this.getWeatherFeel),
        new Field('Weather', this.getWeatherDesc),
        new Field('Wind speed', this.getWindSpeed),
        new Field('Wind direction', `<i class="widget__item__footer__field__icon wi wi-wind towards-${this.getWindDirection}-deg"></i> ${this.getWindDescription}`),
        new Field('Humidity', this.getHumidity),
        new Field('Atm pressure', this.getPressure),
        new Field('Visibility', this.getVisibility),
      ]
    },
    getDateString():string {
      if (this.item?.time !== undefined && this.item?.time !== -1) {
        const date:Date = new Date(this.item.time * 1000)
        const week:String[] = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
        const month:String[] = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        return `${week[date.getDay()]}, ${month[date.getMonth()]} ${date.getDate()}`
      } else {
        return '...'
      }
    },
    getPlaceString():string {
      return this.item?.place !== undefined ? this.item.place : '...'
    },
    getWeatherIco():string {
      return this.item?.weather_id !== undefined ? 
        `wi-owm-${this.getPhase}-${this.item.weather_id}` : '...'
    },
    getWeatherDesc():string {
      return this.item?.weather_desc !== undefined ? this.item.weather_desc : '...'
    },
    getWeatherTemp():string {
      return this.item?.temp !== undefined ? `${this.item.temp}°` : '...'
    },
    getWeatherFeel():string {
      return this.item?.temp_feel !== undefined ? `${this.item.temp_feel}°` : '...'
    },
    getWindSpeed():string {
      return this.item?.wind_sp !== undefined ? `${this.item.wind_sp} m/s` : '...'
    },
    getWindDirection():string {
      return this.item?.wind_dir !== undefined ? String(this.item.wind_dir) : '...'
    },
    getWindDescription():string {
      return this.item?.wind_desc !== undefined ? this.item.wind_desc : '...'
    },
    getHumidity():string {
      return this.item?.humidity !== undefined ? `${this.item.humidity}%` : '...'
    },
    getPressure():string {
      return this.item?.pressure !== undefined ? `${this.item.pressure} mmHg` : '...'
    },
    getVisibility():string {
      return this.item?.visibility !== undefined ? `${this.item.visibility} Km` : '...'
    },
  },
})
</script>

<template>
  <div class="widget__item" :class="`widget__item-${getPhase}`">
    <template v-if="item !== undefined">
      <div class="widget__item__header">
        <div class="widget__item__header__title">{{ getDateString }}</div>
        <div class="widget__item__header__subtitle">{{ getPlaceString }}</div>
      </div>
      <div 
        class="widget__item__expand"
        :class="{'widget__item__expand-active': store.info}"
        @click="store.infoToggle(!store.info)"
      >
        <ExpandIcon class="widget__item__expand__icon" />
      </div>
      <div class="widget__item__content">
        <div class="widget__item__content__wrapper" :class="{'widget__item__content__wrapper-expand': store.info}">
          <div class="widget__item__body">
            <i class="widget__item__body__ico wi" :class="getWeatherIco"></i>
            <div class="widget__item__body__desc">{{ getWeatherDesc }}</div>
            <div class="widget__item__body__main">{{ getWeatherTemp }}</div>
            <div class="widget__item__body__submain">Feels Like: {{ getWeatherFeel }}</div>
          </div>
          <div class="widget__item__footer">
            <div v-for="field in getWidgetFooterInfo" class="widget__item__footer__field">
              <div class="widget__item__footer__field__name">{{ field.name }}</div>
              <div class="widget__item__footer__field__value" v-html="field.value"></div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
