<script lang="ts">
import { defineComponent } from 'vue'
import { useWidgetStore } from '@/stores/widget'

import WeatherWidgetItem from '@/components/WeatherWidgetItem.vue'
import WeatherWidgetSettings from '@/components/WeatherWidgetSettings.vue'
import LeftIcon from '@/components/icons/LeftIcon.vue'
import RightIcon from '@/components/icons/RightIcon.vue'

export default defineComponent({
  components: {
    WeatherWidgetItem,
    WeatherWidgetSettings,
    LeftIcon,
    RightIcon,
  },
  data() {
    return {
      updateInterval: 0 as number,
    }
  },
  setup() {
    const store = useWidgetStore()
    return { store }
  },
  mounted() {
    const cities = this.store.getStoredCities
    if (cities.length > 0) {
      this.store.resetItems()
      this.store.setEmptyItems(cities.length)
      this.store.updateItems()
    } else {
      this.store.addItemLocal()
    }

    this.updateInterval = setInterval(() => {
      this.store.updateItems()
    }, 60000)
  },
  methods: {
    changeItem(value:number):void {
      this.store.itemCurrent += value
    },
    getWrapperPos():string {
      return String(this.store.itemCurrent * 240 * (-1)) + 'px'
    },
  },
  deactivated() {
    clearInterval(this.updateInterval)
  },
})
</script>

<template>
  <div class="widget">
    <div class="widget__shadow"></div>
    <div class="widget__wrapper">
      <div class="widget__wrapper__slide" :style="{ '--wrapper-pos': getWrapperPos() }">
        <WeatherWidgetItem v-for="item in store.items" :item="item" />
      </div>
    </div>
    <div 
      v-if="store.items.length > 0" 
      class="widget__arrows" 
      :class="{'widget__arrows-hide': store.info}"
    >
      <LeftIcon 
        @click="changeItem(-1)"
        class="widget__arrows__left"
        :class="{'widget__arrows__left-hide': store.itemCurrent === 0}"
      />
      <RightIcon 
        @click="changeItem(1)"
        class="widget__arrows__right"
        :class="{'widget__arrows__right-hide': store.itemCurrent >= store.items.length - 1}"
      />
    </div>
    <div class="widget__bullets">
      <div 
        v-for="(_, index) in store.items" 
        class="widget__bullets__item" 
        :class="{'widget__bullets__item-active': index === store.itemCurrent}"
      ></div>
    </div>
    <WeatherWidgetSettings />
  </div>
</template>

<style lang="scss">
@import './main.scss';
@import './widget.scss';
@import './widgetItem.scss';
@import './widgetSettings.scss';
</style>