.widget {
  position: relative;
  width: 240px;
  height: 340px;
  color: #ffffff;

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35));
    transform: translateY(8px) scale(105%);
    filter: blur(8px);
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    &__slide {
      height: 100%;
      display: flex;
      transition: transform ease 0.2s;
      transform: translateX(var(--wrapper-pos));
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    fill: #fff;
    transition: opacity ease 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &__left, &__right {
      position: absolute;
      opacity: 0.5;
      transition: opacity ease 0.2s;
      cursor: pointer;
      &-hide {
        opacity: 0;
        cursor: default;
        pointer-events: none;
      }
      &:hover:not(&-hide) {
        opacity: 1;
      }
    }
    &__left {
      left: 0;
    }
    &__right {
      right: 0;
    }
    &-hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__bullets {
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    &__item {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      transition: opacity ease 0.2s, transform ease 0.2s;
      &-active {
        opacity: 1;
        transform: scale(125%);
      }
    }
  }
}