.widget__item {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1px;
  &-night {
    background: linear-gradient(180deg, #001a31, #009575);
  }
  &-day {
    background: linear-gradient(180deg, #3b7ba6, #8cbdcd);
  }

  &__header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    align-items: center;
    &__title {
      font-size: 16px;
    }
    &__subtitle {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__expand {
    $p: &;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &__icon {
      transition: transform ease 0.2s;
      fill: #fff;
    }
    &-active {
      #{$p}__icon {
        transform: rotate(-180deg);
      }
    }
  }
  
  &__content {
    width: 100%;
    height: 220px;
    overflow-y: hidden;
    &__wrapper {
      transition: transform ease 0.2s;
      &-expand {
        transform: translateY(-50%);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    &__ico {
      display: flex;
      align-items: center;
      height: 100px;
      font-size: 65px;
    }
    &__desc {
      text-transform: capitalize;
      font-size: 12px;
    }
    &__main {
      margin-top: 8px;
      font-size: 40px;
      font-weight: 100;
    }
    &__submain {
      font-size: 12px;
      font-weight: 300;
    }
  }
  
  &__footer {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 220px;
    padding: 0 14px;
    &__field {
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 14px;
      }
      &__value {
        font-size: 14px;
      }
    }
  }
}