.widget__setting {
  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 6px;
    fill: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity ease 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      opacity: 1;
    }
    &-hide {
      pointer-events: none;
      opacity: 0;
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #909090;
    pointer-events: none;
    opacity: 0;
    transition: opacity ease 0.2s;
    &-active {
      opacity: 1;
      pointer-events: all;
    }
    &-night {
      background: linear-gradient(180deg, #001a31, #009575);
    }
    &-day {
      background: linear-gradient(180deg, #3b7ba6, #8cbdcd);
    }
  }
  &__title {
    padding: 8px 14px;
    font-size: 18px;
    font-weight: 400;
  }
  &__subtitle {
    padding: 0 14px 8px 14px;
    font-size: 16px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
  }
  &__items {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    width: 100%;
    height: 216px;
    padding: 20px 14px 14px 14px;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    height: 30px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    font-size: 14px;
    &__move, &__delete {
      width: 24px;
      height: 24px;
      fill: #fff;
      position: absolute;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
    }
    &__move {
      left: 0px;
      font-size: 20px;
    }
    &__delete {
      right: 0px;
      font-size: 18px;
    }
  }
  &__add {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 0 14px;
    &__input {
      width: 100%;
      &-error {
        border-color: rgb(207, 100, 100);
      }
    }
    &__icon {
      width: 30px;
      height: 30px;
      margin: 0 0 0 4px;
      cursor: pointer;
      fill: #fff;
      opacity: 0.5;
      transition: opacity ease 0.2s;
      &:hover:not(&-disabled) {
        opacity: 1;
      }
      &-disabled {
        cursor: not-allowed;
      }
    }
  }
}