<script lang="ts">
import { defineComponent } from 'vue'
import WeatherWidget from "./components/WeatherWidget.vue"

export default defineComponent({
  components: {
    WeatherWidget,
  },
})
</script>

<template>
  <WeatherWidget></WeatherWidget>
</template>

<style scoped>
</style>
